/* footer.css */

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenido en la página */
    padding: 0 20px; /* Espaciado interno */
  }
  
  /* Estilos para los íconos de redes sociales */
  .text-xl {
    font-size: 2rem; /* Tamaño de fuente para los íconos */
  }
  
  /* Estilos adicionales para los íconos (si es necesario) */
  .text-xl:hover {
    color: #FFD700; /* Cambiar el color al pasar el ratón por encima */
  }
  
  /* Estilos para los textos y párrafos */
  .text-sm {
    font-size: 0.875rem; /* Tamaño de fuente para texto pequeño */
  }
  
  .mb-4 {
    margin-bottom: 1rem; /* Espaciado inferior */
  }
  
  /* Estilos para los números de teléfono y dirección */
  .mb-8 {
    margin-bottom: 2rem; /* Espaciado inferior */
  }
  
  /* Estilos para el aviso de copyright */
  .text-xs {
    font-size: 0.75rem; /* Tamaño de fuente extra pequeño */
  }