/* footer.css */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

footer {
  margin-top: 50px;
}

.container {
  max-width: 960px;
  padding-top: 10px;
}

.social-icons i {
  font-size: 24px;
  max-height: 30px; /* Añadido para limitar el tamaño máximo del icono */
  vertical-align: middle; /* Añadido para alinear verticalmente los elementos */
  padding-bottom: 10px;
  transition: all 0.3s; 
}

.footer-text {
  font-size: 14px;
}

.footer-contact {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0.5rem; /* Añadido para espacio adicional */
}

.footer-address {
  font-size: 16px;
  margin-bottom: 0.5rem; /* Añadido para espacio adicional */
}

.footer-copyright {
  font-size: 12px;
  color: #999;
  margin-top: 1rem; /* Añadido para espacio adicional */
}

/* Añadido para separar las secciones */
.mb-4 + .mb-4 {
  margin-top: 1.5rem;
}

/* Añadido para reducir tamaño de fuente del texto pequeño */
.text-xs {
  font-size: 12px;
}
.social-icons i:hover {
  color: #ffc107;
  font-size: 30px;
  text-shadow: 0px 10px 20px rgba(155, 155, 155, 1)

}